/* Navigation Styles */
nav {
    background-color: #1E2230;
    padding: 20px 0px;
    margin-top: -10px;
    height: 7vh;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    font-weight: bold;
    color: #bfc4db;
    cursor: pointer;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
}

nav ul li:hover {
    color: white;
}

/* Media Query for screens up to 700px */
@media (max-width: 950px) {
    nav{
        position: relative;
        /* top: 20vh; */
        height: 30vh;
        
        /* bottom: 70vh; */
    }
    nav ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
    }
    nav ul li{
        text-align: left;
    }
}